body{
  /*background: #0099CC*/
  /*background: #D2C295*/
  background: #FFF8DC;
}

ul{
     list-style-type: none;
     margin: 0;
     overflow: hidden;
     background-color: #990000;
     position:fixed;
     top:0;
     left:0;
     width:100%;
     /*min-height: 50px;*/

}

@media screen and (min-width: 600px) {
  .ul {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .logo{
    float: right;
    min-width: 200px;
    height:80px;
    overflow: hidden;
    margin-right: 80px;
  }

/*.image1, .image2, .image3 {
  height:250px;
  width:250px;*/
  /*padding: 1%;*/
  /*margin-left: 200px;
  margin-top: 150px;
  position: relative;
  align-items: center;*/

/*}*/


form{
    margin-top: 100px;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255,255,255,.5);
    font-size: 16px;
    resize: none;
}

.input-hidden {
position: absolute;
left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform:
    rotateZ(-10deg)
    rotateX(10deg);
}

.button{
    background-color: #990000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    /*margin: 8px 4px;*/
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;


}
