body{
  background: #93d6f4
}

ul{
     list-style-type: none;
     margin: 0;
     overflow: hidden;
     background-color: #971d24;
     position:fixed;
     top:0;
     left:0;
     width:100%;
     /*min-height: 50px;*/

}

@media screen and (min-width: 600px) {
  .ul {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .logo{
    float: right;
    min-width: 200px;
    height:80px;
    overflow: hidden;
    margin-right: 80px;
  }

.slider{
  margin-left: 200px;
  margin-top: 150px;
  position: relative;
  align-items: center;
}
.image1, .image2, .image3 {
  height:250px;
  width:250px;
  padding: 1%;
  align-items: center;

}

.guidelines{
  margin-top: 100px;
  color: #971d24;
}

img.highlighted {
    border: 2px solid blue;
}
